@import url("components/banner.css");
@import url("components/cards.css");
@import url("components/footer.css");
@import url("components/btn-treehouse.css");
@import url("components/nav.css");
@import url("components/map.css");

.row1 {
	margin-bottom: 50px;
}

.assets{
	margin-bottom: 70px;
	text-align: center;
}

.subtitle{
	margin-top: 20px;
}

body{
	font-family: 'Roboto', sans-serif;
}

.main-container{
	margin-top: 20px;
}

.title_map{
	text-align: center;
	margin-top: 50px;
}